* {
    margin: 0%;
    pad: 0%;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    opacity: 0;
    transition: opacity 0.2s ease-in;
    background-color: white;
}

body.loaded {
    opacity: 1;
}

.nav-item a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item p {
    margin: 10px;
}

.navbar {
    background-color: rgb(132, 190, 4);
}


.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-container input {
    padding-left: 30px;

}

.search-container i {
    position: absolute;
    left: 10px;
    color: gray;

}

.search-container input[type="text"]:focus {
    outline: none;
    box-shadow: none;
}

.connect {
    display: flex;
    align-items: center;
    justify-content: center;
}

.connect a {

    color: inherit;
    text-decoration: none;
    font-size: xx-large;
    margin: 2px;
}

.connect p {
    display: flex;
    align-self: center;
    justify-content: center;
}

#navcopy {
    height: 117px;
}

.carousel {
    position: relative;
}


.carousel-control-prev,
.carousel-control-next {
    background-color: transparent;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.container:hover .carousel-control-prev,
.container:hover .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    pointer-events: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 20px;
    height: 20px;
}


#innovation {
    display: flex;

    justify-content: center;
    margin: 10px;
}

.head h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.visible {
    opacity: 1;
    transform: translateY(0);
}

#banner {
    display: flex;
    justify-content: left;
}

#bannerimg {
    padding-left: 20px;
}

#bannerimg img {
    width: 100%;
    height: 110%;

}

.bimg {
    margin-top: 50px;
}

.btext {
    display: flex;
    align-items: center;
    justify-content: center;
}

#section1 {
    margin-bottom: 50px;
    display: grid;
    justify-content: left;
}


@media (max-width: 480px) {

    .btext,
    .head {
        margin-top: 40px;
    }
}


#banner {
    background-color: rgb(241, 242, 255);
    width: 85%;
}



#section2 {
    display: grid;
    justify-content: right;
    margin-bottom: 50px;
}

#section3,
#section5 {
    display: grid;
    justify-content: right;
    margin-bottom: 50px;
}

#section4 {
    display: grid;
    margin-left: 160px;
    margin-right: 20px;
    margin-bottom: 50px;

}

#banner-right {
    display: flex;
    justify-content: right;
    align-items: center;
}

#bannerimg-right {
    padding-left: 20px;
}

#bannerimg-right img {
    width: 100%;
    height: 110%;

}


#img img {
    width: 100%;
    height: 80vh;
    margin-bottom: 50px;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-overlay h1 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
}

.text-overlay p {
    margin: 0;
    margin-top: 10px;
    max-width: 600px;
    font-size: 1.2em;
    text-align: center;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(133, 189, 4);
    color: black;
    text-align: center;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: rgb(107 152 4);
}

@media (max-width: 480px) {
    #img img {
        width: 100%;
        height: 45vh;
    }

    .text-overlay {
        padding: 15px;
        width: 100%;
    }

    .text-overlay h1 {
        font-size: 0.9em;
        
    }

    .text-overlay p {
        font-size: 0.5em;
        
    }

    .button {
        padding: 4px 3px;
       
        font-size: 0.5em;
      
    }

    #ffollow 
    {
        border-right: none !important;
        border-bottom: 0.5px solid white;
    }

    #section4
    {
        margin-left:40px

    }
}


.carousel-item button {
    background-color: rgb(133, 189, 4);
    margin: 10px;
}

.carousel-item button:hover {
    background-color: rgb(107 152 4);
    color: black;
}

.carousel-item button:hover {
    background-color: rgb(107 152 4);
    color: black;
}

#banner button,
#banner-right button,
.btn {
    background-color: rgb(133, 189, 4);
    margin-top: 10px;
}

#banner button:hover,
#banner-right button:hover,
.btn:hover {
    background-color: rgb(107 152 4);
    color: black;
}


#footer {
    margin: 10px;
    padding: 70px;
    width: 98.5%;
    background-color: rgb(44, 44, 44);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#subscribe input {
    width: 100%;
}

.col-sm-2 a {
    display: flex;
    align-items: center;
}

.col-sm-2 a p {
    margin: 10px;
}

.col-sm-2 a:hover {
    text-decoration: underline;
}

.kmore {
    margin-top: 20px;
}

.kmore a:hover {
    text-decoration: underline;
}

#add a {
    text-decoration: none;
    color: white;
}

#ffollow {
    border-right: 0.5px solid white;
}

#fcol1,#fcol2,#ffollow,#add
{
    margin-bottom: 50px;
}

#subscribe
{
    margin-bottom: 20px;
}