body {
    margin: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.tree {
    fill: #b68000;
    height: 50vh; 
    width: auto;
    opacity: 1; 
    transition: opacity 1s;
}

.tree.hidden {
    opacity: 0;
}

.leaf {
    fill: #009100;
    opacity: 0; 
}
